<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>用户点单系统</title>
</head>
<body>
<div class="btns">
<p>顾客</p>
<p>
  <input type="button" name="getMenuLists" value="获取菜单信息">
</p>
<p>
  <input type="button" name="getFoodsOrdered" value="获取已点菜信息">
</p>
<p>
  <input type="button" name="postAddFoods" value="继续加菜">
</p>
<p>
</p>
</div>
<div id="menu"></div>
</body>
<script type="text/javascript">
// ajax 请求
var apixhr = function (method, url, params) {
  return this._init(method, url, params)
}
apixhr.prototype.done = function (res) {
}
apixhr.prototype.fail = function (res) {
  console.log('请求失败', res)
}
apixhr.prototype._init = function (method, url, params) {
  var that = this
  var xhr = new XMLHttpRequest();
  params = params === undefined ? '' : params
  if (method === 'GET') {
    var urlparams = '?'
    Object.keys(params).map(function(key){
      var tmp = key + '=' + params[key]
      urlparams += tmp
      urlparams += '&'
    })
    urlparams = urlparams.replace(/&$/, '')
    url = url + urlparams
  }
  xhr.open(method, url, true)
  xhr.setRequestHeader("Content-type","application/json")
  // var token = dataLocal.get('tk')
  // if (token) {
  //   xhr.setRequestHeader('token', token)
  // }
  var promise = new Promise(function (resolve, reject) {
    xhr.onreadystatechange = function () {
      switch(xhr.readyState){
        case 1://OPENED
          //do something
              break;
        case 2://HEADERS_RECEIVED
          //do something
          break;
        case 3://LOADING
          //do something
          break;
        case 4://DONE
          //do something
          if (this.status == 200) {
            that.done(JSON.parse(this.response))
            resolve(JSON.parse(this.response))
          } else {
            that.fail(this)
            reject(this)
          }
          break;
      }
    };
    var body = typeof params === 'string' ? params : JSON.stringify(params)
    xhr.send(body)
  })
  return promise
}
function lengthUTF8(str) {
  var i = 0, code, len = 0;
  for (; i < str.length; i++) {
    code = str.charCodeAt(i);
    if(code == 10){//回车换行问题
      len += 2;
    }else if (code < 0x007f) {
      len += 1;
    } else if (code >= 0x0080 && code <= 0x07ff) {
      len += 2;
    } else if (code >= 0x0800 && code <= 0xffff) {
      len += 3;
    }
  }
  return len;
}
var allApi = {
  getMenuLists: function (params) {
    return new apixhr('GET', '/api/guest/menu/list', params)
  },
  getFoodsOrdered: function (params) {
    return new apixhr('GET', '/api/guest/order/detail', params)
  },
  postAddFoods: function (params) {
    return new apixhr('POST', '/api/guest/order/add', params)
  }
}

var inputs = document.querySelectorAll('input')
for(var i = 0; i < inputs.length; i++) {
  inputs[i].addEventListener('click', function (e) {
    console.log('click', e.target)
    var key = e.target.getAttribute('name')
    allFunc[key] && allFunc[key]()
  })
}
var allFunc = {
  log: function (str) {
    document.getElementById('menu').innerHTML += '<br>'
    document.getElementById('menu').innerHTML += JSON.stringify(str)
  },
  getMenuLists: function () {
    var obj = {
      rid: 'test'
    }
    allApi.getMenuLists(obj).then(function (res) {
      allFunc.log(res)
    })    
  },
  getFoodsOrdered: function () {
    var obj3 = {
      s3: 'ss3'
    }
    allApi.getFoodsOrdered(obj3).then(function (res) {
      allFunc.log(res)
    })    
  },
  postAddFoods: function () {
    var obj2 = {
      ss: 'ss2'
    }
    allApi.postAddFoods(obj2).then(function (res) {
      allFunc.log(res)
    })
  }
}
</script>
</html>